{
    "printWidth": 160,
    "tabWidth": 4,
    "singleQuote": true,
    "plugins": ["prettier-plugin-yaml"],
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "printWidth": 10000,
                "yamlCollectionStyle": "flow"
            }
        }
    ]
}
